
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
 background-image: url('data:image/webp;base64,UklGRgwfAABXRUJQVlA4IAAfAADwdgCdASpYAXUAPp06mEiloyIhL1sLkLATiWVrT1sARJ892WQQpcT9v4V+W76poVZr7Sft6kH5VvOXULxa7VHefMLwC/yP+16K/wXqAeYn/h8H3172BfKE/3PIH+yf8j2DfLq9kn7vf//3WP3DC94YrcmxoJfwMBetzl7jShiBtiEffFFgctfF9cHbBY9yfFdRxYkhO8Rgo8jfR7vfS5BsVirnH9aoIKstsoh9t1ND3q1VgV+g3xH1v9H9uX9vuS8ydVcROInNCWVvqtRsI7ljyiMjBGfPQoFRiuunpOShF3+rm3YFpAY1g47A+04Tk0/FGztX/clU9wtHglEKlk3C1Lvt9o8nppeLlU0zwgYpXW0CB82NjewDLBE3y/yUti5jTVJEHi2dJLSiQf+r7zi4Jsiypjj4FF3OEElaJ3jzg7/uW5tgY+cxDaW4zeCFF87ktBgQIe01wY2eCVzgtt5dr83BxQppYvnOkrgVbDYhAMfisqqua8LkaTS0r1+h8sllyggDyghQbsMec8IUnHs3reaBgo9zPPhwJ6rnu74Xkp5lWHkr7J2HWjd+RczaknIH4tEmLqrz2lcaVMh0X1mar9KIuV33BD6EEHC3NaK94SZ0B0UnscSQD4i4Ef222kObreeAykVBCeFHmbgXc4uFqJ8OSlgeUsSQQinf6jwlJoAqdd0LgnoW8IdY6NUqyneq+2aKHHHLJTiKnbOClrIDk3fNmfl6sBigyrIUD9ja0mpHGzkABLakMmmpQYX9YayjBU0+R60bDsGL1dysJvTSSKcvlVMSew/aj/2AFLFulDaW6vPh+db0pVzJN+vInI6/F6h4JAi0KnTa3DwoqvfmaflYY1bZL2FJakoDttvVhoJX0sKv+M6boaM320RN5RjtIk10GbJwLno+z7x0TK7uJe8L5FAoiVd8yO/u1H25Sp5uwLXgD+Fnbpe754qaTPwe9M95d7Z69rGIF10Qd9JVY2txpKXuIJ9JtdGXNsmG3Tr83dPqkOaie1vL7Th+dUbdxAinlcRwngxZroUWCcRXPGnh1GLw0VyLpN/uPu8pjURUhGOvGGD6QKpQ0dxkJfASwo4oZTBzX+IE5a2VP/gc/2zN5mVmAB87aZQZtNo/3jqYHiF8tBH6QnZxqwhVXVeysIGl1bEGhNw7fnJAs7s7AQ/7dof4cmpvxelZdgxC2c55KvqNUTLfGWtsLPCJwoaCPCLxYxTlZHoJb8v1imeTnO98Au2brfUoMS8ossPy32yrWEoR85XU6TRvqxm3VeAA+zQOql9IfQBl7WQA5vfmaN4CvDyrVtPC+dQuyg4GIaz27BmMwxIMoX8h6gEUqiu6x1h16u50u33EK90f2MwvD79NeTlpmc6u19WNgUP60waWxeAO2CY4uOd7fFQcRYkal5BQzJQ/5ElmywyurcGQV38YdctVX82xl0Ws3zYd/TKFzG72hVBaiOAv3TqtsTW2qcfvDXRRTg2/ZydzLQDa8dinZBME54y+pztMgfu4Vx+DVMjAMD6LcakmpXVe82zr2XlnVyfQb62VhPZT1oKY1ZaBtBKz8Rl9Kcgas4nPdHtR7NLTS1DJsluqOlHFkLxDKUDqtb4b0jvfu2o48e1LI3pU3Uz4gVG+AijCmHnMfwjsW1YSi223fLrYr6tisbSf8MvKt7sjikiEM/5S5tHcwg1VHkPdoonNvjZwwpmflz/9yML3d+dTkWwTfE/NZIhFVmHBCDu/K6H4YiK7qAHmvZkS4Q1u7MNnsPptAhQo5yYXLTsZV8vA2yZ/WtHejFUibijUbHhOBekWHTsVmMU0oyhkPOAXfs8VMp2nAsNH3mOzRjuGSE6sHBzYNXI+6YIVuIahhqrY18kSYk3VmYKfaoY2LYa6rdMVIPEYweKaMoX2jKKSBH6nb0A14yjPxiJUnqAsie+f0ubZJ8v7P9Ie9A4WhKug9JfpKuDyHHTFydLpBJUdg1Y/Q3PLhUU4oF30cWk3ttc/E3gvgR8OS9Y2JfqpgrdD+sgsa5fKPCXhVmpVE6NE0mqBR1uyh+d1c0fI29iG1Y+RB2XoDkUPCmTAxDoaGlqosfYZop7exlnpiLhSX8CGGteEHMlw8sl306kxMRgPbpqSiybM5f3rUwbDRU79ky1wXL/e+bFtmZoytMCsLCa1pytKFakt+uCI11YA7+JdvnsxMeJ/YKigRjtwXEjZaY8Oxfynz2sdE930mlDJy2yHQho776ezpDPj4Jinw2N/Re0bB/pIlBEG+DPg6ngYt3KSF3PbWYZiu+99F33ho9pUYNB1sVLegVqHPY7lhTD1Uu1Px1pU37A19IEQTWn2Dd4sozb5liVxEwI1NE+WnkI5ABpwKnto5fQEAO+Q5py/IbF2pI5jlxMikqyZ9EYGlCaDwpXUnL+W7Cg01hspZcgDATaCG0gnvQhpWP1bUgOdl6PVxevy9/TcYtIHuYxnpg4NEC/FvZrGvqUnd5lWiknQn58ZuoQ5TK3VCwAcGIgFMQuS08vPkWCtZSVMd7AlHSIDLdkOyCx/OuSN1r/pr7y/0tK6R0DmGMFCxA7EUXr0ae+hUkrybXcpu4PaAORTZCFy7nLP8et7jVOVvlGT8HbH51K5dssTs3L5SeZzOKq4BsD9B1jVm+aJKNYghEKit9zdZ6GD4XQpFHUfycL6FOys2Z6S5Oc1S5BHLIKFH2ibHm1qLIgoapntZrE9IKicKwof+iUD2//tVDIMXG92F8eoQOjAgVRo4z1+eEd75RLyXqESluvQpaT+xbh79E2lPE0f33RR3l688a3b+hxUEJdjd9DTx1FVWmLQRC2818pC9+8/ytcmh1casH1TwuKNqBbUjLP+YbvSBINQm1uB1jl9BEODTuOilwzRqiDoqeUv4n57IK7RmYeZJBGiyrDkL+IxdCVXoW4g0GljHwPPPi+h7pkbQGOS03MkqIGYeAvVjtoJbcFL8ytLdU/WFkTztZ0XMU8XC/TSiVyK5lyMGPDF+TCgNJ5ehNORQV6H+TwfZKXxjqi4Mt9f4Giaj6Pomy8r34VrK8utJb5KHE8NKdTDkXMSxOyjRO8CBxmroiZksNJ0RCMkZRrhocwXSwqAyNon+CoHBnQu5VfrVFO/Flz4FrfAAhwnisIXYH0H1OpEJ31tzJvk6PmOVO/y+WnlXdp4CrbkfpBNyo9TP8Qf1PK5c/JUAT7IgGjjka6bo6jZgajH2Lm2gfJCuPs2hJ38LJpT7FJCpG7TrdGeEigXmQB1iv+ywF2PqWPKVCUaBPTpnrLCIAoRgQRqMmdj/pep1l/4uT8LaQ3yNwAXeuUI6szm3yx7/as4dLe+9NF8MxClo/+l/Zq3YUQ9sEYiDT6IAGj12WJoELavS4R9HGrOPivtokyVSrw0HSFM2yfJhT7WpwOcv5EW7ZAODhzOWhk+hyocpD85gQGyixBCkQBlKYX9MBQZXoTeHHOB7ffv0s7rvDeukoOpOoTxw/Ri8m0cDGFLC7teFsawCiq5c0baguDBq4evZGmNKINwf0DfYyt2NX4DTTb9c7EtyRD5l0EH1HfpiDhLEw6+kuFAiiMRePqq5gWuCH67w81Itwsfhnbq+pcr7VGYQ9vRMn7kDMz0IP5IgLrzgrxPe4HBYr30DbKZACjTZTiDV9l0Tga7jicKfv/4czD2q8MkJwe4D4agRsXtsaYvQYwtECLL4CBNTtgOAGogODEwtJR8W8GUosZfU+C/Ds8Pmcp2Gokj2oPMIhl7mp/nbzaRyyDoPWkRlaqA5CeyTiREUvJwfGHbTSLF/rElCAdufPkPKMnMLgP4Vz+mH4KcsHafswg+lLyanHNRG9+wVgwN0G1/FIlSwY2186anXd6XX2q0Pcq+7K4lpK6all9kT78KfyjwllFqJOw34oB2p7TmzD8iZonBhL1I8WnLivdrJlaEZUW8IHTgw1ENxL5S8ZGxGGLDG400smTcrhY66ZEqaynGiLbJH8EE/om/UxdUBxoyFZPr4rf/B+U5rAQChGRNx2r2zOwnnHmn9P431NxB1wSwMjmlaqjvhx4JSWnkJq9m9EJODd8OPxDALr23/Lol0mi520rps9fzzwXXbC+VDABXfAh6SUXjFRO/PP6ffz5APFFZwBrJsPK0Sw3uIGJ6T5g8FRpXswR/odafPrgNqQyIcfAsEpQ3eM1yR8VvOB5yBymvZ9twBQP1qMEIhkbUOnmXDySq7kUNKlszp+dyndH3Bkfm2rQ5qVaQohcJUhkvUT1IkF2gYpNnPIvcLKSTk38NWaixksViItP+slmCW3LMf9U1JQE/+W8DEFBbq4s+AqzYgnc8aTZ8ZpDM7Xqw4e8bwE2euFpHSbMds3kHZMdbEV19fOVXCea8gVBR4TudDgJBjoWDJU/h6pJHWoSFgi47MNY2s+A4BZVmYh8GC11SfyRCvUK3HV9T1oKTjaF7hugyrm4VUXYhhM6PN8JVmeoF+glo9VCkpDbE6en0voA08M0/AB6fDVcQAlrtAhiSp/s6hrweQeylMg2ztJmIUCYl4TGOttj1ODu45cC9nz5RL5XYePsZ/Qsy0XZZd3nfN7qARm40JMaUTUulfUT+tFLD2PB2wyscJJzDj0OW5Xr1MayHdITNPHzaaxXKCWUYOv50aZKVrsQ7FZBhAtkEPj4jil4DRhWYufbYluHx+TxEw9qrBcvkpCJoXY0/CDa77WWKg4SXqhfNdfCboQ9yeq+Y6AtQBen3nxpnMlGIfyFM62wl8B9azejfPEwV+FLgAlmaKewdTj9NkeMqgWFWpoe2Q20FuvMhPIsP81DCjpTkJ208Mylj8gMpMvVpdSmTjqKsJaXsbWikmULHGADozc+w1QzBCOaeRoyxm9ah5iOH9ojwJHKvgx/JBJ63RzhWCYJm3op4Xm+nPaGqiRR6jk3k52jMnBlg2Zz+qKPd2FFRXW7bDFaNxQ+cW7LNYsS0C5LV99SYAXeyhRz1xgHTP6VZWbp9RyFG1GeUAcIdj+MZqiP4YqayfeWvkZklhFkg6GeDhFxkqcba2Qhe2bN1MPA4vq6Gy8EJLj41MYtR0+J2ZR9go5VugPmMuTxgFSO+d9+C+NCJDPlBxIdVNddIbU9/+skVfXJzxXNG/7TCE/axTsBBO7S9KTbq0ilezPEFdVOTkGv+c9IWLrzv90Mvkc+L96+Qybc7M1aAJlu9qSnzaGEWSlZcmTclGL+TNTdbif3mf7m2hfRy8v4+tpo1uIOmegql1n4rwValxcFvSQ9ILpWQMYKqQGZ+Iws/sTX660TY7xM6B2L1sa3wQ8Ft7fni+4nhk+1ZTGX0q0ErFNXOWYrKTBTguBZv9oeuci4WLR2KPXHcG3BWrKxn9doVAAZWDaNgJB3OQDjFBg6YoGVzp9E6SBy/DpIHGwuopwVM/4zqeJ7xtig3fXfkTegBgvn9draNfsvct5bRawYZ8DlZ85GQ1qYWB9x/Y5qdgVSQtTeznAOKVj9szP8cgOLuWieRdvA35DckG0wCOtmhC2FEVRCa+hzqeM/9mbaC1umGbTOvbNTnrmvPIU9SCfHQXt3eHGl3rGsQz4mCpAWpM2pir1UGYVVe66MTD0iHSfB2hlcTJ8B3820bZ1g9RCc7bpHvFcI1tSplKALrBWza/g4bLdLPp+yvT6X2dsCyNb75Ax+G3oiRjStZ0QQuixEPb9sL1/vOwA4YA2CIY+TGo7b5+jn4ul2BtUNejj7OzQDiTX4aqT2yDLTIhjXjnG9pMxtlZ4ywT1Q0J+gqeVlzKNUfwA3ugR5SXU3KWi/4qKrDHO2LotPIh+PKIbBdBSbREMjsAK2bsXQJnizUdYsSCSWNMCIqRIxr4QWvUaAnC5ba7JC1Eh+Mgp861Lb1EO5E/s9dn62mgV9gUSANLlIvdeorXqOu5cg7Wmf8D0bgQN2y41rPQ+rC73eNoak1Me65rWCZeIrCshEFzolaFftBcux92pb37B0f/H3HDXxLJYRqqCPb3eTtjDow/6KSZcffAjcHbdvof0qar2nlIJt7HAHQz+ysd/RQTUhxR+Rr2S1K0Z15xACq23UC06lDyc+dE5L9U6OYlC9ow0utdrU61sTptIIsRNClHdveLorP+YGvm95haUD7W+bDRVe5eL22nrIcAGrMV+5AVfl96RItyjnUj52Ymj8yWhYs8LU7BEz88dKmFKn6Qi0XsGZn6A0tjKRxXZDa96S3ofe7kcmQqdNg0u00osJDmNlFU4tsqREWAzZtTmmlfM2+M9+wo2Ic2vFkRsEZCZAVZLT311qhuENKVBtCEHJKD3wsGOxFg4Qo3RRD8fbAT2aoT0cQxzg8TaMYzvUNWhRsSzEMR5I8C6L/uPbwz8eSStbSYK2xtKQW5i9eX+dH5GL+j9HZpLANs1MTe3Zj1iZePDUSp/po0xCJMiQNwuPUJroUbCiSpjQvCtNTFrVIB9qcz/5aqs5jM5chOyey4mHbmL5bmEvEsprVX368unX5Mr5LpwVxC8f8ijaaa7i47YnWLkPCmRHvaCdM2iFU0Wdlb6aCpdwkCiYQY9mjzNcoiGNwlaENSPOsNmZDg8NJQUMEihpAfPCZt0cZEGBcHEHjb/2A9dp7v3Qug+OmuDQKjpmGZ66DaExBT6om88WPr6hIoVie4rYO2qRzDLPee/TnLrMVaRFlJ+V1iJR/X7+cYSvCDqnCTsd3rGIxJpcL0SLiPtPVQEk9sMc+9JfUfj85mxYT3nxpDF/eY5ssS34BjCHrO6Kvgbe6yffjGVi0v6cHf5D2QOFYhux4FjcgRgUEV0sTEHwYLj+vLaePMBr6gmrgz0P7Fri7Fp7/dDU7oCigkF1AcH6B2H97jkH5Xm5sa8c8SUG099AXW4KreullH/jwF6raslWd0qNMf7M6G9B90IkoqNfvAgY+vBYBXNtIB2mtVRZrdk68RBO0cxDtv+kp+sqk8+8BIcvbRyadKC6SGBt+zFUYLwAjD2q8/ifzKqlh4RrebWpAXSkWU7p4g1ZsYRYeROWkCGWAourL6x4cq0YXPdStlV/O7Ud4NB707aB44R0gi5xGFrsRlrI5wVLDepUlzAGSB7qq+zsWtjXmhj7gC/Qjxtq4g9OnvzGB/Z9ttvYBggrEm2rOBlqcMGz50Yy6VJdDe5ON7bhNYKwAPEjAQbZNV0q/4ayYfKJ1ziugAgOr/6kNokRI1MKB+2too1pwD07k6KtCelgf1v62eo5NO+XMHNnlowT/uIW9z2jv+9rcGbte6OcSHHKAL9vTCy19X5zUL8Aws92g0I+Zx45XsokQLkhgcx2sff5LHObtL1e2TsXNFWFpgVkWIxNBXdSKXeTHF8AHsiojlVMDn7SwjYbDYU6CEdxvyPP2x3KVyqs2SKaywUjgfELSTyt6tCzvQOHZm9TfKkNhLllAf+iGOukvTxPlocKQytY8+Z9RHa80+cIJ98CLE7a8fD7CKwG7OqNi6DQWw6vTvsdT8CW6G8NjuOISVzAQRoXWCcIKrdJZLCIC8i+ZsOHx8+yRQJpN3uRZwNIgWKGmTG57u8JcZHk8BHoRmreNGMk+SKn1SQPbklsNCfUO9XjH8t0i4tQQytY/PSJEmvt+oigGvy/HdefEvpln70YhFjMQ5+vmyfPhFAbLXFB7IJrYJQLWQ890xlv8X1GxucF4/5N+9i55TqBXKQp8LTs0ntqajRYHCWwSzSqyABKpH8DmZQBBsJlYKip/KheY1UrRTZ8Z1N9bjEjPIjAZuTQdQYZz0EJx+wSwvic3obvSi6PkkXqAVSNhI+BXiLi5jRY2lO8iOftawRTIEgm8nz9dZJADRQua9XekBWm7P92l1MM92Crkg/l/5ESICIN/7AAVsy2AIWtQWMNNEAUxYHSFTSVH2KQCutgjvI0Nao/lrN0fJ4/WRNf+xAardrmFVIrPnL2lrC1axccswacWRjeVwynyZItWg0HpAdSjZV+aBfhuYfOt+zDV4+ycalig0qZcGoOrQ8kZLKAGU5IB46lOnqDkKWbSxKLxoovRi/m7tRUU8kvlhMEFwnLSD8fvjK6nddt1kIRUEEpVvo8KnZQr8Mt6k1w5SPGavBX5SAAgD8WNiZbPcXAntxbTQvgprV78lkofwySwncHoin+eRV9NrT7a0UXxGQquzBzPs9J1lovkKuS5SHdoWg2Y+FEe0+T9hge5MF5gnPS23dtF43SjB/WGBzcgDCLqn/XItz9wnnyxcrF+gck4fhuLb0bynIMbseQPD5BweknnTHi31lifFopBm/EpV6xuB4jhMK4kdxHetsSBhpnbrBfl7nxYMLd5iVwDOAUsGpB5JJBDYG+BYdHL0Nq8LWmmAFpGcnbOO3oGDSxLzmJrVFrYjfCEE/QAVRPkC/5UERHNgPgCqGlzGSZ8pvF1e9yYaIZ+hfIogXpF9j7eRTbiYM3bCBsHqvrXjO+AChV48sYE7dlSWdx9l4A7dde1GCrWCtWtjNAeh4KWQ95AqvRG8yuJ4oXQcj18vWEL7v8J9cCc7l0M9d8ZoQVh2xkWD6uFt+0UMKfmUfTQB0L72CxGQWutyO3saka8HWV0KhVB+krNSFqMOgDY/xbbJhDh2mfHqLEopWKhJaIghKFx7Ca4LnCvnANqRQRGIv3vXnNDNllKkyOic/4a+SQxeTYlJDPheoqpy3OQAITyDpVmzXIJnKyZGWOS/3N3qkHYLOhz0PJP84RylWKYLDlFRkHe5wz90SI8bZVm3N6YgGo68rQXgKo5PmoRL2sDbEJpcVbcKJcFxCT9CiLfMTJEmZEQsjkOeBHQUvkLlcpL2IvD8wTA1OkN1SOr+hudYmgxnrRukQQ/Rucc1I79YJQZTXQapy6Fhr3Yr1H0z0cLqil8Z5GoQDjykU+p8Hc5XiPB5EZdOF+U/nTUL/EJRkZnFALB5DnoPrZ3s5/7DZtn9ehfjp4xejsZe5j80le6YgriuDifYxfR1/2AM/nX0vkam9N2mlhBnKt4IU1cZfavdQLtA7Tr57lNNjaj/pwOPYhpg5z2MhFR6PMicPbHT/xGlIP0IWusoNLqLpKw11ZAEcYxqI/8DvAW0NphI4SqUOnLNvfxGY+yqz+ucGIGYIfl/ovfJLc23bVzJbsJMYNgBd7zdW6kp9t2yx54AvHTSPUotoxPF65N8ISiWxGIi6eIchr/u1X+Mh8Bex/ldR0F5tZsV/q2SnuVDxP1tEmmv/3zpE8W4RXf0XXIW28HvNzKoNKjVxDtUgxH8O3M7RmMOu85hb0r0iI6jY7I/MDE5B6anVP9ykPkIiZpXQNhc6f5dQEbrUtBXsw9qYL3NRznk442RL4uNFUZuwJYQ2aC29qHmpU1znQDWvF/cOilhuJnXDw39wpjUKPpP/891jU2CXgvXBCaZITwaHAo20MjCVSITrWq9fylzvCrS/wwF9dA13o0Xl3eUtnsAIGNkiLIkKnkgzDwFB49gymL9MFFpxpJXcDpc4szofduf8eQp9jh56gGC9rUS4V6/5ZRB62gF2zRIkf3tpWFC5Oo7jQfYSiGEs6+7rvZLKe5jOOuPbReFXsO7Jn1dnCBYa2UExQIp1Td/e7o0823+/Fg6JPnk2WRV2vAQS/ySblh/OVfEw3JmQ3MzkfdxpfrVdLGkZHTR6v6XQo7ESFrKJpyyLR1OANWyeG4hLEzIRqqd1Ka3C36LeUYRZVmxDYRJy+gISBa6UTp/rAHkqmaLm6LnvvAoaNuz+kO7kqOtb1g5BEH2vGBmxAQSuo8S0qDjfln85FgZbclLKPKgYaB9zreQw8FfTck/bPErGxdihKsH2xhzsaRBD0Tu3ipjkyHRt6RSz1e/2wET4iVbpkzTg17XIodd0C0mFiHWmw9YIZ3UeOSx3N56FvzxZOHpi6tHYWfzrL/eBIeXoS83tKlBHG+BKmCrvHBuaIAc+DFLBXO7IbpC+dbF8qRGFN0moOfe9RMY3m2DmvRfH29gIOhbJC0TD3pN72xQMS2aa8+MVUnBXJYBk2qCgZiAA6JmdxhSIPYTlw99cOtAptVMfyO++ky1z2/i4jguLdc526qLGgQZU9iJtBm+btmHDGUv1M3MIOhy+XyBAX1LjsWNo6qsIq7dHPn6CmrkFzOgKTBa/NkiK8S6IuGZLLba1wt4PfObmXHE80UgxUB47tgZ6/nMDZjaSQXYj9VoAWQSI3wLr2AoNwFMZEEHZFNOUHej+xV1ZFZnekmgFZyZg8wV+fQVGTEdHwPFUF+bnuk89dE4Skc1gI0/11m0pHt5Crm6fhYelJM9o21m3qNhnr9G5/+pHJCmePAHZgH+GNVQpTQpA/Iu/sVwAlkeRb+RxBOmUR/4n5Ejsj7S51yVteVT3r/TZnYCGk+Mxr7oi182047P/jRWizQmTdu/LlxtNkRtSiuxyg0BYyZyXFJD9Qtrfk5PThdgKw79x89GcugLeX7vKDzGptwYEwrUso5XHovzRljLgATJ/ydJn6ovqhd1diwXlDHcPr37pjl06IBTbnusujcgcL3BCXhK/p+N95ZPGH47C/GbpGvH34759AyYW51VP7OMgplfMtTbvfh6SGitGVWHsnuNOo6pxi/Fzv7lYNoVo0S6F4vzOl64pAd8eTKYmAA');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  color: #333;
  line-height: 1.6;
}


.logo {
  font-family: 'Orbitron', sans-serif;
  color: #2e7d32;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}


nav {
  background-color: #cddc39;
  padding: 0.5rem;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

.nav-links li a {
  text-decoration: none;
  color: #2e7d32;
  padding: 0.5rem 1rem;
  font-weight: bold;
  transition: background 0.3s ease;
  font-family: algerian;
}

.nav-links li a:hover {
  background-color: #aed581;
  border-radius: 5px;
}


.banner {
  background: linear-gradient(to right, #a5d6a7, #fdd835);
  text-align: center;
  padding: 2rem;
  font-family: 'Orbitron', sans-serif;
}

.banner h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.banner p {
  font-size: 1.2rem;
}


.intro {
  padding: 2rem;
  text-align: center;
}


.page-title {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
  color: #388e3c;
}


.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.service-card {
  background-color: #ffffffcc;
  border: 2px solid #c8e6c9;
  border-radius: 10px;
  padding: 1rem;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.service-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.service-card h3 {
  margin: 1rem 0 0.5rem;
  color: #2e7d32;
}


.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffffcc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.contact-form label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #c8e6c9;
  border-radius: 5px;
}

.contact-form button {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background-color: #81c784;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #66bb6a;
}


.contact-info {
  text-align: center;
  padding: 2rem;
}

.contact-info img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: 10px;
}

footer {
  background-color: #c8e6c9;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}


@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .services-container {
    flex-direction: column;
    align-items: center;
  }
}
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #2e7d32;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    text-align: right;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #cddc39;
    width: 100%;
    text-align: center;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    margin: 1rem 0;
  }

}

